:root {
  --primary-tex-color: #212121;
  --secondary-tex-color: #757575;
  --accent-color-white: #ffffff;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --background: #2f303a;
  --backgroundcolor-btn: #2196f3;
  --backgroundcolor-btn-hover: #188ce8;
  --border-radius-btn: 4px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-tex-color);
  background-color: var(--primary-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
          box-shadow: 0 0 0px 1000px inherit inset;
  -webkit-text-fill-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* stylelint-disable */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.btn {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  border: none;
}

.btn--accent {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--backgroundcolor-btn);
  -webkit-transition: background-color 250ms, -webkit-box-shadow 250ms;
  transition: background-color 250ms, -webkit-box-shadow 250ms;
  transition: background-color 250ms, box-shadow 250ms;
  transition: background-color 250ms, box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--accent:hover, .btn--accent:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-from__btn {
  margin-top: 30px;
  padding: 10px 55px;
}

.portfolio-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-background);
  -webkit-transition: color 250ms, background-color 250ms, -webkit-box-shadow 250ms;
  transition: color 250ms, background-color 250ms, -webkit-box-shadow 250ms;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
  transition: color 250ms, background-color 250ms, box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .footer-form__btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}

/* HEADER ******************************************************/
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.header__logo {
  margin-right: 93px;
}
.header__logo--black {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 88px;
    padding: 16px 0;
  }
}

.footer__logo--white {
  color: var(--accent-color-white);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation__item {
  position: relative;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after,
.navigation__link:focus::after {
  opacity: 1;
}

.navigation__link.navigation__link--current::after {
  opacity: 1;
}

.contact-header {
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .contact-header {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contact-header__item:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header__item:first-child {
    margin-right: 30px;
  }
}

.contact-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-tex-color);
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header__link:hover, .contact-header__link:focus {
  color: var(--accent-color);
}

.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header__link:hover .contact-header__icon, .contact-header__link:hover .contact-header__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* HERO *************************************************************************/
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.hero__inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}

/* MODAL */
.modal-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

.modal-backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: inherit;
  border: 1px solid hsla(0deg, 0%, 0%, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-tex-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.6s, visibility 0.6s;
  transition: opacity 0.6s, visibility 0.6s;
}

/* form */
.modal-from {
  margin-top: 12px;
  text-align: center;
}

.modal-from__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--secondary-tex-color);
}

.modal-from__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  fill: inherit;
}

.modal-from__input {
  padding-left: 40px;
  height: 40px;
}

.modal-from__input,
.modal-from__textarea {
  display: block;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: inherit;
  -webkit-transition: border 250ms;
  transition: border 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-from__input:focus, .modal-from__input:focus,
.modal-from__textarea:focus,
.modal-from__textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-from__textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-from__icon {
  position: absolute;
  left: 12px;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-from__input:focus ~ .modal-from__icon {
  fill: var(--accent-color);
}

.checkbox-label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}
.checkbox-label:before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label:before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}
.checkbox-label a {
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}
@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
  }
}

/* SPECIFICS *********************************************************************/
.specifics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.specifics__item {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
}
@media screen and (max-width: 1199px) {
  .specifics__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .specifics__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.specifics__icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.specifics__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .specifics__title {
    text-align: center;
  }
}

.specifics__description {
  line-height: 1.7;
  color: var(--secondary-tex-color);
  overflow: hidden;
}

/* WEDO **************************************************************************/
.wedo {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .wedo {
    display: none;
  }
}

.wedo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.wedo__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  overflow: hidden;
}

.wedo__link {
  color: #fff;
}
.wedo__link-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.wedo__link:hover .wedo__link-text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.wedo__link img {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.wedo__link:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

/* TEAM **************************************************************************/
.team {
  background-color: var(--secondary-background);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .team__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.team__content {
  padding: 30px 15px;
}

.team__name,
.team__position {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: normal;
  color: var(--secondary-tex-color);
}

/* SOCIAL-LIST */
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links__item + .social-links__item {
  margin-left: 10px;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms, background-color 250ms;
  transition: fill 250ms, background-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  fill: white;
  background-color: var(--accent-color);
}

.team__social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__link--bgc {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

/* customers ****************************************************************/
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 1199px) {
  .customers__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .customers__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}

.customers__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px 31px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .customers__link {
    padding: 16px 5px;
  }
}

/* portfolio ****************************************************************/
.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .portfolio-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.portfolio-menu__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1199px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: var(--primary-tex-color);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}
.img-wrapper:hover .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-content__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-content__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-tex-color);
}

/* footer ************************************************************************/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-soc {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-soc {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.address,
.address__link {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color-white);
}

.footer-contact__item {
  margin-top: 9px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-from__field {
  position: relative;
  width: 358px;
  margin-right: 12px;
}
@media screen and (max-width: 1199px) {
  .footer-from__field {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-from__field {
    width: 100%;
  }
}

.form__input {
  width: 100%;
  padding: 15px 16px;
  color: var(--accent-color-white);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: top 200ms linear;
  transition: top 200ms linear;
}

.form__input:not(:-moz-placeholder-shown) + .form__label {
  left: 10px;
  background-color: var(--background);
  padding: 5px;
  top: 0px;
  z-index: 1;
}

.form__input:not(:-ms-input-placeholder) + .form__label {
  left: 10px;
  background-color: var(--background);
  padding: 5px;
  top: 0px;
  z-index: 1;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  left: 10px;
  background-color: var(--background);
  padding: 5px;
  top: 0px;
  z-index: 1;
}

.form__input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.form__icon {
  margin-left: 10px;
  fill: white;
}/*# sourceMappingURL=main.css.map */