.btn {
  font-family: inherit;
  font-size: 16px;
  text-align: center;

  background-color: var(--secondary-background);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  border: none;
}
.btn--accent {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--backgroundcolor-btn);

  transition: background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// modal form
.modal-from__btn {
  margin-top: 30px;
  padding: 10px 55px;
}

// porfolio
.portfolio-btn {
  padding: 6px 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.6;
  color: var(--primary-tex-color);

  background-color: var(--secondary-background);
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @include mobile {
    padding: 6px 22px;
    font-size: 16px;
  }
}

// footer form
.footer-form__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin: 0 auto;
  margin-top: 20px;

  @include desktop {
    margin-top: 0;
  }
}

// burger
.menu {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 50% 50% 50% 50%;
  border: none;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  transition-delay: 0.4s;
  z-index: 1;

  cursor: pointer;

  & svg {
    z-index: 2;
  }

  .menu-container.opened + & {
    background-color: #fff;
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
    z-index: 1;

    transition: 0.5s ease-in-out;
  }
  @include tablet {
    display: none;
  }
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
