.contact-header {
  display: none;

  @include desktop {
    display: flex;
  }
  @include tablet {
    display: block;
    margin-left: auto;
  }
  @include desktop {
    display: flex;
  }
}
.menu-container__contact-header {
  display: block;
  margin-bottom: 48px;
}

.contact-header__item:first-child {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-header__link {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-tex-color);

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.17;
    }
    color: var(--accent-color);
  }

  @include tablet {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-header__icon {
  display: none;

  fill: currentColor;
  margin-right: 10px;

  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contact-header__link:hover &,
  .contact-header__link:focus & {
    transform: scale(1.2);
  }

  @include tablet {
    display: block;
  }
}

.contact-header__soc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  column-gap: 10px;
  row-gap: 10px;

  & li:not(:last-child):after {
    content: "";
    padding-right: 10px;
    border-right: 1px solid var(--accent-color);
  }
  & a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
