.contact-header {
  @include desktop {
    display: flex;
  }
  @media (min-width: 768px) {
    margin-left: auto;
  }
  @include mobile {
    position: absolute;
    left: 40px;
    bottom: 20px;
  }
}

.contact-header__item:first-child {
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-right: 30px;
  }
}

.contact-header__link {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-tex-color);
  &:hover,
  &:focus {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-tex-color);
    &:hover,
    &:focus {
      font-size: 12px;

      line-height: 1.16;

      color: var(--accent-color);
    }

    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;

  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contact-header__link:hover &,
  .contact-header__link:hover & {
    transform: scale(1.2);
  }

  .menu-container.opened & {
    display: none;
  }
}

.contact-header__soc {
  display: none;

  @include mobile {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    column-gap: 10px;
    row-gap: 10px;

    & li:not(:last-child):after {
      content: "";
      padding-right: 10px;
      border-right: 1px solid var(--accent-color);
    }
    & a {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }
}
