.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  @include tablet {
    width: 738px;
    margin: 0 auto;
  }
  @include desktop {
    width: 100%;
  }
}

// .customers-item + .customers-item {
//   margin-left: 30px;
// }

.customers__item {
  max-width: calc(100% / 2 - 30px);

  @include desktop {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.customers__link {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 16px 53px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);

  transition: all 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    transform: scale(1.1);
  }

  @include desktop {
    padding: 16px 31px;
  }
}
