.footer-form {
  @include desktop {
    margin-left: auto;
  }
}
.form {
  @include tablet {
    flex: 0 1 100%;
  }
  @include desktop {
    display: flex;
  }
}
.footer-from__field {
  position: relative;
  width: 358px;
  margin-right: 12px;

  @include tablet {
    width: 450px;
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
  }
}
.form__input {
  width: 100%;
  
  padding: 15px 16px;
  color: var(--accent-color-white);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  color: rgba(255, 255, 255, 0.3);
  transition: top 200ms linear;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  left: 10px;
  background-color: var(--background);
  padding: 5px;
  top: 0px;
  z-index: 1;
}

.form__input:-webkit-autofill {
  -webkit-text-fill-color: #ffff !important;
}
.form__icon {
  margin-left: 10px;
  fill: #ffff;
}
