.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  // @include mobile {
  //   overflow-x: hidden;
  //   & ~ .menu-container.opened {
  //     overflow-x: visible;
  //   }
  // }
}
.header__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
@import "./menu-container";
