.hero {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}
.hero__inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  @include tablet {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);

  @include tablet {
    font-size: 26px;
    line-height: 1.6;
  }
}
