.logo {
  font-family: $Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);

  @include tablet {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.header__logo {
  margin-right: 93px;
  &--black {
    color: #000000;
  }

  @include mobile {
    margin-right: 88px;
    padding: 16px 0;
  }
}

.footer__logo--white {
  color: var(--accent-color-white);
}
