.menu-container {
  display: none;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 48px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100vh - 48px);

    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
    z-index: 2;
  }

  @include tablet {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.menu-container.opened {
  transform: scaleY(1);

  transition-delay: 0.25s;
  transition: 0.5s ease-in-out;
  z-index: 2;
}
