.menu-container {
  display: flex;

  @include mobile {
    position: absolute;
    top: 48px;
    left: 0;

    width: 100%;
    height: calc(100vh - 48px);

    padding-bottom: 20px;

    // opacity: 0;
    // visibility: hidden;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
    z-index: 2;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.menu-container.opened {
  transform: scaleY(1);

  // opacity: 1;
  // visibility: visible;
  z-index: 2;
  transition: 0.5s ease-in-out;
  transition-delay: .25s;
}
