.menu-container {
  display: flex;
  align-items: start;
  flex-direction: column;

  @include mobile {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    padding: 48px 40px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.menu-container__soc {
  display: none;
  margin-top: 64px;
  & a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    &:not(:first-child) {
      padding-left: 10px;
    }

    &:not(:last-child):after {
      content: "";
      padding-right: 10px;
      border-right: 1px solid var(--accent-color);
    }
  }

  @include mobile {
    display: block;
  }
}
.menu-container.opened {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
