.navigation {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }
  // @include mobile {
  //   position: absolute;
  //   left: 40px;
  // }
}
.menu-container__navigation {
  display: block;
}
.navigation__list {
  @include tablet {
    // некоректно працює мобільне меню якщо задати df без медіа запиту ???
    display: flex;
  }
}

.navigation__item {
  position: relative;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: inline-block;
  padding-bottom: 32px;
  font-size: 40px;
  color: var(--primary-tex-color);

  // @include mobile {
  //   position: absolute;
  //   left: 40px;
  // }
  @include tablet {
    padding-top: 32px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
}

.navigation__link::after {
  @include tablet {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;

    transition: opacity 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.navigation__link:hover::after,
.navigation__link:focus::after {
  opacity: 1;
}
@include tablet {
  .navigation__link.navigation__link--current::after {
    opacity: 1;
  }
}
