.portfolio-menu {
  display: flex;
  justify-content: start;

  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 50px;

  @include desktop {
    justify-content: center;
  }
}

.portfolio-menu__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list {
  @media (max-width: 767px) {
    max-width: 450px;
    margin: 0 auto;
  }
  @include tablet {
    display: flex;
    max-width: 738px;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  @include desktop {
    max-width: 100%;
    margin: 0 auto;
  }
}
.portfolio__item {
  flex-basis: calc((100% - 30px) / 2);
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: var(--primary-tex-color);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #fff;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 1;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 360px) {
    font-size: 15px;
    padding: 24px ;
  }

  .img-wrapper:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio-content {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;

  &__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__description {
    font-size: 16px;
    line-height: 1.87;

    color: var(--secondary-tex-color);
  }
}
