.specifics__list {
  // max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.specifics__item {
  //  max-width:  calc(100% / 2 - 30px);
  flex-basis: calc(100% / 4 - 30px);
  // height: 100px;
  // overflow: auto;

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
  }
  @include mobile {
    flex-basis: 100%;
  }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    max-width: 226px;
    flex-basis: content;
  }
}

.specifics__icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.specifics__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  @include mobile {
    text-align: center;
  }
}
.specifics__description {
  line-height: 1.7;
  color: var(--secondary-tex-color);
  overflow: hidden;
}
