.team {
  background-color: var(--secondary-background);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  @include tablet {
    justify-content: center;
  }
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (max-width:480px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: calc(100% / 2 - 30px);
  }
}

.team__content {
  padding: 30px 15px;
}
.team__name,
.team__position {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: normal;
  color: var(--secondary-tex-color);
}
