.wedo {
  padding-top: 0;

  @include tablet {
    display: none;
  }
}
.wedo__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  // margin-right: -30px;
  // margin-top: -30px;
}
.wedo__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  //  flex-basis: calc((100% - 60px) / 3);
  //  margin-right: 30px;
  //  margin-top: 30px;
  overflow: hidden;
}

.wedo__link {
  color: #fff;

  &-text {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);

    transform: translateY(0);
    transition: transform 250ms ease-in-out;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &:hover &-text {
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }

  img {
    transition: all 250ms ease-in-out;
  }
  &:hover img {
    transform: scale(1.2);
    transition: transform 250ms ease-in-out;
  }
}

// .wedo a::after {
//   content: "";
//   position: absolute;
//   bottom: 0;

//   display: block;
//   width: 100%;
//   padding: 27px 15px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-align: center;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: #fff;

//   background-color: rgba(47, 48, 58, 0.8);

//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .wedo .item:nth-child(1) a:after {
//   content: "Десктопные приложения";
// }
// .wedo .item:nth-child(2) a:after {
//   content: "Мобильные приложения ";
// }
// .wedo .item:nth-child(3) a:after {
//   content: "Дизайнерские решения";
// }

// .wedo a:hover::after {
//   opacity: 1;
//   visibility: visible;
// }
