:root {
  --primary-tex-color: #212121;
  --secondary-tex-color: #757575;
  --accent-color-white: #ffffff;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;

  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --background: #2f303a;
  --backgroundcolor-btn: #2196f3;
  --backgroundcolor-btn-hover: #188ce8;
  --border-radius-btn: 4px;
}

// Шрифти
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;